tr:nth-child(even) {
    background-color: #040420;
}

th {
    font-size: large;
}

@font-face {
    font-family: miFontHarry;
    src: url('fonts/ParryHotter.ttf');
}

h1 {
    font-family: miFontHarry;
    font-size: 80px;
    color: aliceblue;
    text-align: center;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: aliceblue;
    text-align: center;
    margin: 0% 40% 5% 40%;
    font-size: x-large;
    text-align: center;
}

p {
    color: aliceblue;
    margin: 0% 15% 0 15%;
    text-align: center;
}

body {
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.tabla {
    margin-left: 14%;
    width: 70%;
}

@media only screen and (max-width: 1100px) {
    body {
        margin: 5px 5% 0 5%;
    }
}

@media screen and (max-width: 600px) {
    body {
        width: 200%;
        margin: 0;
    }
    .tabla {
        margin-left: 0;
    }
    h2 {
        margin: 0% 30% 5% 30%;
    }
}